/*link google fonts*/
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');

/*link form icons boostrap*/
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css");

.navbar {
    background-color: white !important;
   
}
.row{
    padding-top: 5vh;
    padding-bottom: 5vh;
}


body {
    font-family: 'Lato', sans-serif;
    padding-top: 56px; 
}

.lead{padding: 5vh;}

.title{
    font-size: 3em;
}

.carousel-item {
   height: 80vh;
   background-size: cover;
}

.carousel-item img {
    height: 100%;
    object-fit: cover;
    width: 100%;
}


.btn-primary {
    background-color: #CDC1BE; 
    border-color: #CDC1BE;
}

.btn-primary:hover {
    background-color: #a99f9d; 
    border-color: #a99f9d;
}


